<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="MunjinMapper">
	<insert id="insertMunjinMember">
  		INSERT INTO ROS_MEMBER_TBL VALUES(SEQ_ROS_NO.NEXTVAL, #{munjinName}, #{munjinKn},DEFAULT)
  	</insert>
	<insert id="insertMunjinForm">
		INSERT INTO ROS_RESULT_TBL VALUES(SEQ_ROS_RESULT_NO.NEXTVAL, #{rosCondition},#{rosDay},#{rosWeek},#{rosMonth},#{rosYear},#{rosEE},#{rosDrug},#{rosZrug},#{rosMosquito},#{rosVCJD})
	</insert>
  </mapper>