<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.blood.faq.domain.Faq" alias="Faq"/>
		<typeAlias type="com.kh.blood.notice.domain.Notice" alias="Notice"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/faq-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
	</mappers>
</configuration>