@charset "UTF-8";

body{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100%;
 	
	
}

.int-area{
	width: 400px;
	position: relative;
}
.int-area input{
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 15px;
	color: black;
	outline: none;
}
.int-area label {
	position: absolute; 
	left: 10px;
	top: 15px;
	font-size: 20px;
	color: #000000;
	transition: top .5s ease;
}
.int-area input:focus +label,
.int-area input:valid +label {
	top: 0;
}
.btn-area {
	margin-top: 30px;
}
.btn-area button{
	width: 100%;
	height: 50px;
	background: #E48E58;
	color: beige;
	font-size: 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}