* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-form{
	padding:50px;
	background-color: #fff;
	
	
}
body{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-image:url('../../images/out.jpg');
	background-repeat : no-repeat;	 
	background-size : 100% 100%; 
	
}
body::before{
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.login-form{
	 display: flex;
    justify-content: center;
    align-items: center;
	position: relative; z-index: 2;
}
.int-area{
	width: 400px;
	position: relative;
}
.int-area input{
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #000000;
	font-size: 15px;
	color: #000000;
	outline: none;
}
.int-area label {
	position: absolute; 
	left: 10px;
	top: 15px;
	font-size: 15px;
	color: #000000;
	transition: top .5s ease;
}
.int-area input:focus +label,
.int-area input:valid +label {
	top: 0;
}
.btn-area {
	    display: flex;
	margin-top: 30px;
	
}
.btn-area button{
	
	width: 50%;
	height: 50px;
	background: #E48E58;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}
.caption{
	margin-top: 20px;
	text-align: center;
}
.caption a{
	font-size: 15px;
	color: #fff;
}

.btn-area2 {
	margin-top: 10px;
	display: flex;
	width: 20%;
	height: 20px;
	background: #E48E58;
	color: #fff;
	font-size: 10px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	justify-content: center;
}
.bloodtype{
	color: #000000;
}
.bloodtype .bldtype {
    color: #000000;
}